.card {
	background: var(--color-dark);
	border: 4px solid var(--wp-preset-color-dark);
	color: var(--color-light);
	border-radius: var(--border-radius);
	max-width: unset;
}

.card__content {
	padding: theme(spacing.m-l);
}

.card img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	max-height: 15rem;
	aspect-ratio: 3/2;
}

.card svg {
	height: auto;
}

.card ::selection {
	color: var(--wp-preset-color-light);
	background: var(--wp-preset-color-dark);
}

.card h2,
h3 {
	font-size: var(--wp--preset--font-size--step-3);
}

.card h2 a,
.card h3 a {
	text-decoration: none;
}

.card:hover,
.card:focus-within {
	border: 4px solid theme(colors.primary);
}

.card a {
	text-decoration: none;
}

/* 'clickable' */

.card:focus-within a:focus {
	outline: none;
}
.card {
	position: relative;
}
.card a:after {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
