.wrapper {
	width: 95vw;
	width: clamp(10rem, 90vw, 90rem);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.gutter {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

[data-wrapper="content"] {
	width: 90vw;
	width: clamp(10rem, 80vw, 90rem);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

[data-wrapper="content"] * {
	max-width: 80ch;
}
