.cta-pattern {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800'%3E%3Cg stroke-width='.5' stroke='%23ffffffff' fill='none'%3E%3Cpath d='M0 0h133.333v44.444H0zM133.333 0h133.333v44.444H133.333zM266.667 0H400v44.444H266.667zM400 0h133.333v44.444H400zM533.333 0h133.333v44.444H533.333zM666.667 0H800v44.444H666.667zM800 0h133.333v44.444H800zM0 44.444h133.333v44.444H0zM133.333 44.444h133.333v44.444H133.333zM266.667 44.444H400v44.444H266.667zM400 44.444h133.333v44.444H400zM533.333 44.444h133.333v44.444H533.333zM666.667 44.444H800v44.444H666.667zM800 44.444h133.333v44.444H800zM0 88.889h133.333v44.444H0zM133.333 88.889h133.333v44.444H133.333zM266.667 88.889H400v44.444H266.667zM400 88.889h133.333v44.444H400zM533.333 88.889h133.333v44.444H533.333zM666.667 88.889H800v44.444H666.667zM800 88.889h133.333v44.444H800zM0 133.333h133.333v44.444H0zM133.333 133.333h133.333v44.444H133.333zM266.667 133.333H400v44.444H266.667zM400 133.333h133.333v44.444H400zM533.333 133.333h133.333v44.444H533.333zM666.667 133.333H800v44.444H666.667zM800 133.333h133.333v44.444H800zM0 177.778h133.333v44.444H0zM133.333 177.778h133.333v44.444H133.333zM266.667 177.778H400v44.444H266.667zM400 177.778h133.333v44.444H400zM533.333 177.778h133.333v44.444H533.333zM666.667 177.778H800v44.444H666.667zM800 177.778h133.333v44.444H800zM0 222.222h133.333v44.444H0zM133.333 222.222h133.333v44.444H133.333zM266.667 222.222H400v44.444H266.667zM400 222.222h133.333v44.444H400zM533.333 222.222h133.333v44.444H533.333zM666.667 222.222H800v44.444H666.667zM800 222.222h133.333v44.444H800zM0 266.667h133.333v44.444H0zM133.333 266.667h133.333v44.444H133.333zM266.667 266.667H400v44.444H266.667zM400 266.667h133.333v44.444H400zM533.333 266.667h133.333v44.444H533.333zM666.667 266.667H800v44.444H666.667zM800 266.667h133.333v44.444H800zM0 311.111h133.333v44.444H0zM133.333 311.111h133.333v44.444H133.333zM266.667 311.111H400v44.444H266.667zM400 311.111h133.333v44.444H400zM533.333 311.111h133.333v44.444H533.333zM666.667 311.111H800v44.444H666.667zM800 311.111h133.333v44.444H800zM0 355.556h133.333V400H0zM133.333 355.556h133.333V400H133.333zM266.667 355.556H400V400H266.667zM400 355.556h133.333V400H400zM533.333 355.556h133.333V400H533.333zM666.667 355.556H800V400H666.667zM800 355.556h133.333V400H800zM0 400h133.333v44.444H0zM133.333 400h133.333v44.444H133.333zM266.667 400H400v44.444H266.667zM400 400h133.333v44.444H400zM533.333 400h133.333v44.444H533.333zM666.667 400H800v44.444H666.667zM800 400h133.333v44.444H800zM0 444.444h133.333v44.444H0zM133.333 444.444h133.333v44.444H133.333zM266.667 444.444H400v44.444H266.667zM400 444.444h133.333v44.444H400zM533.333 444.444h133.333v44.444H533.333zM666.667 444.444H800v44.444H666.667zM800 444.444h133.333v44.444H800zM0 488.889h133.333v44.444H0zM133.333 488.889h133.333v44.444H133.333zM266.667 488.889H400v44.444H266.667zM400 488.889h133.333v44.444H400zM533.333 488.889h133.333v44.444H533.333zM666.667 488.889H800v44.444H666.667zM800 488.889h133.333v44.444H800zM0 533.333h133.333v44.444H0zM133.333 533.333h133.333v44.444H133.333zM266.667 533.333H400v44.444H266.667zM400 533.333h133.333v44.444H400zM533.333 533.333h133.333v44.444H533.333zM666.667 533.333H800v44.444H666.667zM800 533.333h133.333v44.444H800zM0 577.778h133.333v44.444H0zM133.333 577.778h133.333v44.444H133.333zM266.667 577.778H400v44.444H266.667zM400 577.778h133.333v44.444H400zM533.333 577.778h133.333v44.444H533.333zM666.667 577.778H800v44.444H666.667zM800 577.778h133.333v44.444H800zM0 622.222h133.333v44.444H0zM133.333 622.222h133.333v44.444H133.333zM266.667 622.222H400v44.444H266.667zM400 622.222h133.333v44.444H400zM533.333 622.222h133.333v44.444H533.333zM666.667 622.222H800v44.444H666.667zM800 622.222h133.333v44.444H800zM0 666.667h133.333v44.444H0zM133.333 666.667h133.333v44.444H133.333zM266.667 666.667H400v44.444H266.667zM400 666.667h133.333v44.444H400zM533.333 666.667h133.333v44.444H533.333zM666.667 666.667H800v44.444H666.667zM800 666.667h133.333v44.444H800zM0 711.111h133.333v44.444H0zM133.333 711.111h133.333v44.444H133.333zM266.667 711.111H400v44.444H266.667zM400 711.111h133.333v44.444H400zM533.333 711.111h133.333v44.444H533.333zM666.667 711.111H800v44.444H666.667zM800 711.111h133.333v44.444H800zM0 755.556h133.333V800H0zM133.333 755.556h133.333V800H133.333zM266.667 755.556H400V800H266.667zM400 755.556h133.333V800H400zM533.333 755.556h133.333V800H533.333zM666.667 755.556H800V800H666.667zM800 755.556h133.333V800H800zM0 800h133.333v44.444H0zM133.333 800h133.333v44.444H133.333zM266.667 800H400v44.444H266.667zM400 800h133.333v44.444H400zM533.333 800h133.333v44.444H533.333zM666.667 800H800v44.444H666.667zM800 800h133.333v44.444H800z'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: repeat;
}

.about-cta__inner > * {
	display: flex;
	padding-top: var(--wp--preset--spacing--xl-2xl);
	padding-bottom: var(--wp--preset--spacing--xl-2xl);
	height: 100%;
	/* border-radius: theme(borderRadius.md); */
}

.about-cta__divider {
	background: linear-gradient(
		to bottom,
		var(--wp--preset--color--tertiary) 50%,
		var(--wp--preset--color--primary) 0%
	);
}

.about-cta__content li {
	font-family: theme(fontFamily.display);
	font-size: var(--wp--preset--font-size--step-3);
	list-style-type: disc;
	list-style-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21ZM11.768 15.64L16.768 9.64L15.232 8.36L10.932 13.519L8.707 11.293L7.293 12.707L10.293 15.707L11.067 16.481L11.768 15.64Z' fill='%23E8E8E8'/%3E%3C/svg%3E");
}

.about-cta svg {
	block-size: 6em;
	flex: auto;
	rotate: -90deg;
}

@media screen and (min-width: theme(screens.lg)) {
	.about-cta__inner {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr auto 1fr;
	}

	.about-cta__divider {
		background: linear-gradient(
			to right,
			var(--wp--preset--color--primary) 50%,
			var(--wp--preset--color--tertiary) 0%
		);
	}
	.about-cta__hero {
		order: 3;
	}

	.about-cta__content {
		order: -1;
	}

	.about-cta__divider svg {
		rotate: 360deg;
	}
}
