[data-hero="grid-background"] {
	display: grid;
	align-items: center;
}

[data-hero="grid-background"] > * {
	grid-row: 1;
	grid-column: 1;
	max-height: max(50vh, 25rem);
}

[data-hero="grid-background"] img {
	height: 100%;
	width: 100%;
	z-index: 0;
	filter: brightness(0.4);
	object-fit: cover;
}
<<<<<<< HEAD
=======

.hero__content {
	z-index: 1;
}

@media screen and (max-width:theme(screens.md)) {
	.hero {
		background-position-x: 20%;
	}
}
>>>>>>> f97941ba48fab1d52ae7770121e50de0d1bdd04c
