.nav {
	display: flex;
	justify-content: space-between;
}

.nav__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0 1rem;
}

.nav__logo p {
	font-size: var(--wp--preset--font-size--step-2);
	font-family: display;
	max-width: 10ch;
}

.nav__logo img {
	display: block;
	max-width: 5rem;
	block-size: auto;
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.3rem 0.8rem;
	padding: 0;
}

.nav li {
	margin: 0.1rem;
}

.nav a {
	font-weight: 600;
	text-transform: uppercase;
	color: currentColor;
}

.nav a:hover {
	color: var(--wp--preset--color--tertiary);
}

.burger-menu__trigger {
	display: none;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
	display: block;
	width: 24px;
	height: 3px;
	background: var(--wp--preset--color--light);
	border: 1px solid var(--wp--preset--color--light);
	position: absolute;
	border-radius: 3px;
	left: 50%;
	margin-left: -12px;
	transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
	content: "";
}

.burger-menu__bar::before {
	top: -8px;
}

.burger-menu__bar::after {
	bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
	display: block;
	width: 2rem;
	height: 2rem; /* Nice big tap target */
	position: relative;
	z-index: 2;
	background: transparent;
	border: none;
	cursor: pointer;
}

.burger-menu[enabled="true"] .burger-menu__panel {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5rem 1.5rem 2rem 1.5rem;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	background: var(--wp--preset--color--dark);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.burger-menu[enabled="true"] .nav ul {
	display: block;
}

.burger-menu[enabled="true"] .nav ul > * + * {
	margin-top: 2rem;
}

.burger-menu[enabled="true"] .nav li {
	font-size: var(--wp--preset--font-size--step-2);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 400ms ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
	opacity: 0;
	transform: translateY(5rem);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
	transform: translateY(0);
	opacity: 1;
	transition:
		transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms,
		opacity 500ms ease 800ms;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	background: transparent;
	border-color: transparent;
	transform: rotate(180deg);
}

.eyebrow-nav {
	--measure: none;
}

.eyebrow-nav ul {
	--space: theme(spacing.l-xl);
	justify-content: center;
	align-items: baseline;
}

.eyebrow-nav a::before {
	content: "";
	display: inline-flex;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='2' d='M1 4.97c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C2.52 1.77 3.08 1.77 4.2 1.77h11.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C19 3.29 19 3.85 19 4.97v11.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874c-.428.218-.988.218-2.108.218H4.2c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C1 18.25 1 17.69 1 16.57V4.97Z'/%3E%3Cpath stroke='%23fff' stroke-width='2' d='m17 19.77-4-14.5m6-.5-18 2m10 6.088c0 1.84-1.739 3.145-2.569 3.664a.81.81 0 0 1-.862 0C6.739 16.003 5 14.697 5 12.858 5 11.005 6.454 9.77 8 9.77c1.6 0 3 1.235 3 3.088Z'/%3E%3C/svg%3E");
	width: 3ex;
	height: 3ex;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.5em;
}

.eyebrow-nav a[href^="tel:"]::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' fill='none'%3E%3Cpath fill='%23fff' d='m16.793 6.563-4.5 4.5 1.414 1.414 4.5-4.5L21 10.77v-7h-7l2.793 2.793Z'/%3E%3Cpath fill='%23fff' d='M16.422 14.216a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 4.286a1 1 0 0 0-1.391-.087L3.299 6.06a.996.996 0 0 0-.291.648c-.015.25-.301 6.172 4.291 10.766 4.006 4.006 9.024 4.299 10.406 4.299.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696Z'/%3E%3C/svg%3E");
}

.eyebrow-nav a[href^="mailto:"]::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' fill='none'%3E%3Cg fill='%23fff' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M4.748 1.092c4.154-.007 8.307 0 12.461.022.695.179 1.131.616 1.31 1.31.022 1.848.03 3.696.022 5.543.473-.007.945 0 1.418.022.695.179 1.131.616 1.31 1.31.03 3.925.03 7.85 0 11.774-.178.694-.615 1.131-1.31 1.31-5.987.029-11.974.029-17.96 0-.696-.179-1.132-.616-1.311-1.31a806.464 806.464 0 0 1 0-11.774c.179-.694.615-1.131 1.31-1.31.472-.022.945-.029 1.418-.022-.007-1.847 0-3.695.022-5.543.186-.695.623-1.139 1.31-1.332Zm.387.688c3.896-.007 7.792 0 11.687.021.595.079.931.416 1.01 1.01.029 5.042.029 10.083 0 15.125-.079.594-.415.931-1.01 1.01-3.896.028-7.791.028-11.687 0-.595-.079-.931-.416-1.01-1.01-.029-5.042-.029-10.083 0-15.125.086-.595.423-.939 1.01-1.031Zm5.8 4.469c.999.117 1.45.675 1.354 1.675-.26.8-.812 1.137-1.654 1.01-.77-.285-1.092-.837-.967-1.654.207-.615.63-.959 1.268-1.031Zm-8.55 2.406h1.031c.007.673 0 1.346-.021 2.02-.66-.41-1.327-.811-1.999-1.204.164-.479.493-.75.989-.816Zm16.156 0c.344-.007.688 0 1.031.021.502.05.831.315.989.795-.672.393-1.338.794-1.998 1.203a47.377 47.377 0 0 1-.022-2.02ZM1.354 10.33a29.88 29.88 0 0 1 2.04 1.203c.015 2.263.03 4.526.043 6.789.18.694.616 1.131 1.311 1.31 4.154.029 8.307.029 12.461 0 .695-.179 1.131-.616 1.31-1.31l.044-6.79a44.917 44.917 0 0 1 2.019-1.202c.029 3.451.029 6.903 0 10.355-.079.594-.415.931-1.01 1.01-5.729.028-11.458.028-17.187 0-.595-.079-.931-.416-1.01-1.01-.021-3.452-.029-6.904-.021-10.355Z' opacity='.985'/%3E%3Cpath d='M10.377 3.499c2.127-.155 3.624.733 4.49 2.664.099.28.17.566.215.859.029.544.029 1.089 0 1.633-.273.814-.839 1.15-1.697 1.01a1.623 1.623 0 0 1-.881-.623c-.685.667-1.48.832-2.385.494C9.015 8.9 8.664 7.977 9.066 6.764c.545-1.013 1.383-1.393 2.514-1.139.286.075.537.211.752.409.002-.442.21-.578.623-.409a.404.404 0 0 1 .065.108c.002.933.03 1.864.085 2.793.228.44.565.547 1.01.322.237-.243.337-.536.301-.88-.064-2.266-1.217-3.526-3.459-3.782-1.705.144-2.808 1.032-3.309 2.664-.264 1.554.244 2.779 1.526 3.674.99.557 2.022.643 3.094.258a3.99 3.99 0 0 0 .687-.387c.452-.079.616.1.494.537-1.022.761-2.16 1.005-3.416.73-1.762-.494-2.814-1.64-3.158-3.437-.176-2.128.705-3.625 2.643-4.49a9.71 9.71 0 0 1 .859-.236Zm.559 2.75c-.638.072-1.06.416-1.268 1.03-.125.818.197 1.37.967 1.655.842.127 1.393-.21 1.654-1.01.096-1-.355-1.558-1.353-1.675Z' opacity='.935'/%3E%3Cpath d='M6.338 12.78c3.094-.007 6.187 0 9.281.021.13.066.187.173.172.322.015.15-.042.257-.172.323a495.05 495.05 0 0 1-9.281 0c-.13-.066-.187-.173-.172-.322a.349.349 0 0 1 .172-.344Zm0 1.718c3.094-.007 6.187 0 9.281.022.13.066.187.173.172.322.015.15-.042.257-.172.323a512.73 512.73 0 0 1-9.281 0c-.13-.066-.187-.174-.172-.323a.35.35 0 0 1 .172-.344Zm0 1.719c3.094-.007 6.187 0 9.281.022.13.066.187.173.172.322.015.15-.042.257-.172.322a495.05 495.05 0 0 1-9.281 0c-.13-.065-.187-.173-.172-.322a.349.349 0 0 1 .172-.344Z' opacity='.993'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h22v22H0z' transform='translate(0 .77)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.eyebrow-nav a {
	border-right: solid var(--wp--preset--color--light) 2px;
	padding-right: 1em;
}

.eyebrow-nav ul li:last-child a {
	border-right: none;
	padding-right: 0;
}

@media screen and (max-width: theme(screens.sm)) {
	.eyebrow-nav ul {
		justify-content: space-evenly;
		/* Fixes overflow issue on mobile and adds possibility for more icons in future */
		overflow-wrap: normal;
		overflow: scroll;
		scrollbar-width: none;
		scrollbar-color: transparent;
	}

	.eyebrow-nav a {
		visibility: hidden;
		width: 0;
		height: 2rem;
		border-right: solid var(--wp--preset--color--light) 1px;
		padding-right: 1em;
		display: block;
	}

	.eyebrow-nav a::before {
		visibility: visible;
	}
}
